*{
  box-sizing: border-box;
}
:root {
  --mainWhite: #f2fdff;
  --mainBlue: #3e92cc;
}
.max-height {
  min-height: 100vh;
}
body {
  margin: 0;
  background: var(--mainWhite);
  font-family: 'Russo One', sans-serif;
}
.container {
  text-align: center;
}
.img-container {
  min-height: 60vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  .img-container {
    min-height: 60vh;
  }
}
.btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
#icon-left,
#icon-right {
  border: 1px solid var(--mainBlue);
  border-radius: 100%;
}
#icon-left:hover,
#icon-right:hover {
  border-color: var(--mainWhite);
}
.play-wrapper {
  padding: 0.3rem;
  border-bottom: 1px solid gray;
  color: gray;
}
#playBtn,
#stopBtn {
  margin: 0.2rem;
  cursor: pointer;
}
.car-name {
  margin: 0px;
  text-shadow: 0px 0px 15px var(--mainBlue);
}

.carousel {
  width: 100%;
  margin-top: 10px;
}
.carousel img {
  width: 20%;
  opacity: 0.5;
  height: 120px;
   border: 1px solid var(--mainBlue);
}
